/********* PARAMETRES GENERAUX DE LA PAGE CI-DESSOUS *********/

@font-face {
    font-family: 'raleway';
    src: url(font/Raleway-VariableFont_wght.ttf);
}

body{
    width: 85%;
    margin: auto;
    font-family: 'raleway';
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.heading{
    display: flex;
    flex-direction: inline;
    margin-top: 2em;
    margin-bottom: 1.2em;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}

p{
    margin-top: 0px;
    font-size: 0.9em;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1{
    font-size: 1.2em;
    font-variation-settings: "wght" 600;
    margin-bottom: 0.8em;
}

h2{
    font-size: 1.2em;
    font-variation-settings: "wght" 600;
    text-decoration: none;
    color: black;
}

h3{
    font-size: 0.9em;
    font-variation-settings: "wght" 600;
    text-decoration: none;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
}

a{
    text-decoration: none;
    color: black;
}

.rounded{
    border-radius: 20px;
}

.rounded_top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.rounded_left{
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
}



/********* HEADER CI-DESSOUS *********/

header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header img{
    height: 40px;
    object-fit: contain;
    object-position: left;
}

#menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 8%;
}


/*** NAV CI-DESSOUS ***/

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    padding-top: 2em;
    width: 10em;
    text-align: center;
    border-top: 2px solid transparent;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    color: rgb(0, 101, 252);
}

ul li:hover{
    padding-top: 2em;
    border-top: 2px solid rgb(0, 101, 252);
}

/* Comment faire en sorte que le texte se colore au survol de ul li et pas de ul li a:hover ?*/


/*** BARRE DE RECHERCHE CI-DESSOUS ***/

#search_bar{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*width: 500px;*/
    /*height: 35px;*/
    height: 2.3em;
}

input, textarea, select{ 
    font-family:inherit;
    font-variation-settings: "wght" 600;
}

#loc-pin{
    /*max-height: 100%;*/
    width: 2.5em;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form{
    height: 100%;
}

form p{
    height: inherit;
    margin: 0 0 0 0;
}

input{
    height: inherit;
}

#search{
    width: 8em;
    background-color: rgb(0, 101, 252);
    color: white;
    margin-left: -4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Pourquoi mon bouton et mon champ de recherche ont un espace ?*/

#town{
    width: 15em;
    padding-left: 10px;
    color: black;
}

#loc-pin, #town{
    border: 1px solid #F2F2F2;
}

#search{
    border: 1px solid rgb(0, 101, 252);
}



/********* FILTRES CI-DESSOUS *********/

#filtres{
    width: 70%;
    margin: 1.5em 0 1.5em 0.25em;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#buttons p{
    margin: 0;
    font-variation-settings: "wght" 700;
    text-align: center;
}

.filtre_btn{
    display: flex;
    flex-direction: row;
    height: 2.8em;
    align-items: center;
    justify-content: start;
    border-radius: 45px;
    border: 2px solid lightgray;
    background-color: white;
    padding-left: 0px;
    margin-left: 2em;
}

.filtre_btn p{
    padding: 0 1em 0 1em;
    font-family: 'raleway';
    font-variation-settings: "wght" 600;
}

.blue-picto{
    display: flex;
    height: 2.8em;
    width: 2.8em;
    margin-left: -2px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: none;
    border-radius: inherit;
    align-items: center;
    justify-content: center;
}

#pin-info{
    color: #0065FC;
    width: 15px;
    height: 15px;
    padding-top: 1px;
    margin-right: 10px;
    margin-bottom: 2px;
    font-size: 0.7em;
    border : 1px solid lightgray;
    border-radius: 90px;
    text-align: center;
    vertical-align: middle;
}




/********* LOGEMENTS CI-DESSOUS *********/

/*** ÉLÉMENTS GÉNÉRAUX ***/

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 600px;
}

main .heading{
    margin-top: 0;
}

.lodgings{
    background-color: #F2F2F2;
    height: 100%;
}

.container{
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 2em;
}

.lodgings-overlook{
    display: flex;
    width: 100%;
    height: 100%;
}

.lodging-prev{
    border: 4px solid white;
    background-color: white;
    display: flex;
    box-shadow: 1px 1px 15px lightgray;
}

.lodging-prev__text{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5%;
}

.stars{
    color: #0065FC;
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
}

.grey_star{
    color: #d3d3d3;
}


/** ÉLÉMENTS SPÉCIFIQUES **/

/* SECTION LOGEMENTS **/

#general{
    width: 66%;
}

#general .container{
    margin-bottom: 2em;
    height: 80%;
}

.wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.square{
    height: 38%;
    width: 28%;
    flex-direction: column;
}

.lodging-prev.square img{
    width: 100%;
    height: 60%;
}

.regular{
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
    justify-items: center;
}

#general a{
    font-size: 0.9em;
    vertical-align: top;
    font-variation-settings: "wght" 700;
    margin-left: 5%;
}

/* SECTION LOGEMENTS POPULAIRES **/

#popular{
    width: 31%;
}

#popular .container{
    width: 80%;
    height: 83%;
}

.column{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.rectangle{
    height: 28%;
    width: 100%;
    flex-direction: row;
}

.lodging-prev.rectangle img{
    width: 40%;
    height: 100%;
}

.popular{
    width: 60%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.popular h3{
    margin-bottom: 5%;
}

.popular .stars{
    padding-top: 23%;
}

#black_star{
    display: flex;
}




/********* ACTIVITÉS CI-DESSOUS *********/

#activities{
    width: 100%;
    margin-top: 5%;
}

#activities-overlook{
    width: 100%;
    height:400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
}

.activity-prev{
    width: 23%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px lightgray;
}

.activity-prev img{
    height: calc(100% - 3em);
}

.activity-prev h3{
    line-height: 3em;
    margin: 0 0 0 0;
    vertical-align: middle;
    padding-left: 20px;
}

.tall{
    height: 100%;
}

.medium{
    height: 50%;
}

.small{
    height: 40%;
}



/********* FOOTER CI-DESSOUS *********/

footer{
    margin-top: 5%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: inline;
    justify-content: space-between;
    align-items: right;
    padding: 3% 23% 3% 3%;
}

.footer-overlook{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items: space-around;
}

.footer-overlook h3{
    padding-bottom: 1em;
}

.footer-overlook p{
    line-height: 2em;
}