/********* PARAMETRES GENERAUX DE LA PAGE CI-DESSOUS *********/


@font-face {
    font-family: 'raleway';
    src: url(font/Raleway-VariableFont_wght.ttf);
}

body{
    width: 85%;
    margin: auto;
    font-family: 'raleway';
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    box-sizing: border-box;
}

h1{
    font-size: 1.3em;
    font-variation-settings: "wght" 600;
}

h2{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    margin: 5% 0 0 0;
    padding-left: 10px;
    font-variation-settings: "wght" 600;
}

h3{
    text-decoration: none;
    color: black;
    font-size: 0.6em;
    font-weight: normal;
    margin: 2% 0 0 0;
    padding-left: 10px;
}

a{
    text-decoration: none;
}

.rounded{
    border-radius: 20px;
}

.rounded_top{
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.rounded_left{
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
}

/********* HEADER CI-DESSOUS *********/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px 0 10px;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
    padding-top: 20px;
    width: 150px;
    text-align: center;
    border-top: 2px solid transparent;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li:hover{
    padding-top: 20px;
    border-top: 2px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
}

/* Comment faire en sorte que le texte se colore au survol de ul li et pas de ul li a:hover ?*/

/*ul li a:hover{
    /*border-top: 2px solid rgb(0, 101, 252);
    color: rgb(0, 101, 252);
}*/

header img{
    height: 40px;
    object-fit: contain;
    object-position: left;
}



/********* FILTRES CI-DESSOUS *********/

#filtres{
    width: 100%;
}




/********* MAIN CI-DESSOUS *********/

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 500px;
}

.heading{
    width: 100%;
    height: 10%;
    font-size: 1em;
    /*align-self: left;*/
    margin-bottom: 15px;
    /*padding-left: 37px;*/
    padding-top: 15px;
}

.lodgings{
    background-color: #F2F2F2;
    height: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
}

#regular{
    width: 66%;
}

#popular{
    width: 31%;
}

.lodgings-overlook{
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
    height: 80%;
}

.wrap{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.column{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.lodging-prev{
    padding: 3px;
    background-color: white;
    display: flex;
    box-shadow: 1px 1px 15px lightgray;
}

.square{
    height: 40%;
    width: 27%;
    flex-direction: column;
}

.rectangle{
    height: 28%;
    width: 80%;
    flex-direction: row;
}

.lodging-square__image{
    width: 100%;
    height: 65%;
}

.lodging-rectangle__image{
    width: 40%;
    height: 100%;
}

.lodging-rectangle__image img{
    object-position: 20% 30%;
    box-sizing: border-box;
    width: 100%;
}

/*.texte_populaire{
    width: 60%;
    display: flex;
    flex-direction: column;
}*/