@media screen and (max-width: 992px) and (min-width: 768px){

    body{
        width: 90%;
    }


    /********** SECTION LOGEMENTS **********/

    main{
        width: 100%;
        margin-top: 40px;
        height: fit-content;
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: flex-start;
        justify-content: space-between;
    }



    /*** SECTION LOGEMENTS POPULAIRES ***/

    .populars{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        height: 300px;
        border-radius: 0;
        background-color: transparent;
    }

    .populars .container{
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .column{
        height: 90%;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .lodging-prev.rectangle{
        /*width: 100%;
        height: 30%;*/
        height: 80%;
        width: 28%;
        display: flex;
        flex-direction: column;
    }

    .populars a{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-right: 0;
        /*display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        text-transform: none;
        text-decoration: none;
        font-weight: initial;*/
    }

    .lodging-prev.rectangle img{
        /*height: 100%;*/
        width: 100%;
        height: 55%;
    }

    .rectangle .rounded_left{
        border-bottom-left-radius: 0;
        border-top-right-radius: 19px;
    }

    .popular{
        /*max-height: 100%;
        width: 45%;*/
        width: 90%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
    }

    .popular h3{
        margin-bottom: 2%;
    }

    .populars .stars{
        /*justify-self: flex-end;*/
        padding-top: 0;
        padding-bottom: 2%;
        /*margin-top: auto;*/ /*A DUPLIQUER SUR TOUS LES DESIGN !*/
    }

    .populars .heading{
        width: 50%;
    }


    /********** SECTION LOGEMENTS POPULAIRES **********/

    .general{
        width: 100%;
        height: 500px;
        padding-bottom: 2%;
    }

    .general .container{
        height: 80%;
        margin-top: 2em;
    }

    .square{
        height: 38%;
        width: 28%;
        flex-direction: column;
    }
    
    .lodging-prev.square img{
        width: 100%;
        height: 60%;
    }
    
    .regular{
        width: 100%;
        height: 40%;
        justify-content: space-evenly;
        justify-items: center;
    }



    /********** SECTION ACTIVITES **********/

    #activities{
        width: 100%;
        margin-top: 5%;
    }
    
    .activities-overlook{
        width: 100%;
        height: 600px;
        display: flex;
        flex-flow: column wrap;
        /*justify-content: space-evenly;*/
        align-items: flex-start;
    }

    .activities-overlook :nth-child(1) { order: 1; }
    .activities-overlook :nth-child(2) { order: 4; }
    .activities-overlook :nth-child(3) { order: 5; }
    .activities-overlook :nth-child(4) { order: 6; }
    .activities-overlook :nth-child(5) { order: 2; }
    .activities-overlook :nth-child(6) { order: 3; }
    
    .activity-prev{
        width: 45%;
        /*display: flex;
        flex-direction: column;*/
        box-shadow: 1px 1px 15px lightgray;
    }
    
    .activity-prev img{
        height: calc(100% - 3em);
    }

    .activity-prev:nth-child(3) img{
        object-position: 0 -70px;
    }

    .activity-prev:nth-child(5) img{
        object-position: 0 -30px;
    }

    .activity-prev:nth-child(6) img{
        object-position: 0 -60px;
    }
    
    /*.activity-prev h3{
        /*line-height: 3em;
        height: 3em;
        width: 90%;
        overflow-wrap: break-word;
        margin: 0 0 0 0;
        vertical-align: middle;
        padding-left: 20px;
    }*/
    
    .tall{
        height: 48%;
    }
    
    .medium{
        height: 24%;
    }
    
    .small{
        height: 20%;
    }
    
    .activities a{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }



    /********* FOOTER CI-DESSOUS *********/

    footer{
        margin-top: 5%;
        background-color: #F2F2F2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3% 10% 3% 10%;
    }

    .footer-overlook{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer-overlook h3{
        line-height: 2em;
        margin-bottom: 0.5em;
        padding-bottom: 0;
    }

    .footer-overlook p{
        line-height: 2em;
    }
}